<% num_products = @products.size %>
<% max_products_per_row = 4 %>
<p style="color: green"><%= notice %></p>
<span style="width: 40vw; margin: 0 auto;" class="d-flex justify-content-center">
  <h1 class="text-center">Products</h1>
  &nbsp; <input type="text" class="form-control" id="search-input-cards" onkeyup="searchProductsCards()" placeholder="Search for products.."></span>
<br/>
<button hidden id="cart-drawer-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Your cart</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div>
<div class="container">
  <div class="row row-cols-2 row-cols-md-<% if num_products < 4 %><%= num_products %><% else %><%= max_products_per_row %><% end %> row-cols-lg-<% if num_products < 4 %><%= num_products %><% else %><%= max_products_per_row %><% end %>" id="cards-container">
    <% @products.each do |product| %>
      <%= render partial: "snippets/product", locals: { product: product }%>
    <% end %>
  </div>
</div>