<% num_products = @products.size %>
<% max_products_per_row = 4 %>
<p style="color: green"><%= notice %></p>
<span style="width: 40vw; margin: 0 auto;" class="d-flex justify-content-center">
  <h1 class="text-center">Products</h1>
  &nbsp; <input type="text" class="form-control" id="search-input-cards" onkeyup="searchProductsCards()" placeholder="Search for products.."></span>
<br/>
<div class="container">
  <div class="row row-cols-2 row-cols-md-<% if num_products < 4 %><%= num_products %><% else %><%= max_products_per_row %><% end %> row-cols-lg-<% if num_products < 4 %><%= num_products %><% else %><%= max_products_per_row %><% end %>" id="cards-container">
    <% @products.each do |product| %>
      <div class="card" style="height: 100%;">
        <a id="anchor-img" href="<%= shop_url(product) %>">
          <% if product.image.attached? %>
            <%= image_tag product.image, style: "max-height: 15rem", class: "image-fluid card-img-top"%>
          <% else %>
            <img src="https://dummyimage.com/100/fff/0011ff.png&text=Image+Not+Found" style="height: 15rem;" class="card-img-top image-fluid" alt="...">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.title %></h5>
            <p class="card-text"><%= product.description %></p>
            $<%= product.price %>
          </div>
        </a>
        <div class="card-footer">
          <form id="add-to-cart-form" method="post" data-remote="true" data-turbo="false">
            <input type="button" name="commit" value="Add to cart" class="btn btn-primary add-to-cart-btn" style="width: 100%;" data-disable-with="Add to cart">
            <button class="btn btn-primary add-to-cart-loading" hidden type="button" disabled style="width: 100%;">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span class="sr-only">Loading...</span>
            </button>
            <input value="1" min="1" class="form-control" type="number" name="quantity" id="product_quantity">
            <input value="<%= product.id %>" autocomplete="off" type="hidden" name="product_id" id="product_id">
          </form>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  function searchProductsCards() {
     // Declare variables
     var input, filter, table, tr, td, i, txtValue;
     input = document.getElementById("search-input-cards");
     filter = input.value.toUpperCase();
     cards = document.getElementById("cards-container");
     cardDiv = cards.getElementsByClassName("card");

     // Loop through all table rows, and hide those who don't match the search query
     for (i = 0; i < cardDiv.length; i++) {
       td = cardDiv[i].getElementsByTagName("h5")[0];
       console.log(td);
       if (td) {
         txtValue = td.textContent || td.innerText;
         if (txtValue.toUpperCase().indexOf(filter) > -1) {
           cardDiv[i].style.display = "";
         } else {
           cardDiv[i].style.display = "none";
         }
       }
     }
   }

  document.querySelectorAll(".add-to-cart-btn").forEach(btn => {

    btn.addEventListener("click", async function(e) {
      btn.disabled = true;
      btn.nextElementSibling.removeAttribute("hidden");
      btn.setAttribute("hidden", "true");

      e.preventDefault();

      let formProductInfo = {
        product_id: e.target.parentElement.product_id.value,
        quantity: e.target.parentElement.quantity.value
      }

      const response = await fetch('/cart/add', {
        method: 'POST',
        body: JSON.stringify(formProductInfo),
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json"
        }
      })

      let data = await response.json();
      btn.disabled = false;
      btn.nextElementSibling.setAttribute("hidden", "true");
      btn.removeAttribute("hidden");
      let currentText = btn.value

      btn.value = "✓";

      setTimeout(() => {
        btn.value = currentText
      }, 2000)

      //#cart-items-count
      const cart_response = await fetch('/cart')
      let cart_data = await cart_response.json()

      let total_items = 0
      for(item in cart_data["items"]) {
        if(cart_data["items"][item]["quantity"]) {
          total_items += parseInt(cart_data["items"][item]["quantity"])
        }
      }

      document.getElementById("cart-items-count").innerText = total_items
    })
  })
</script>
