<div class="super_container">
  <div class="single_product">
    <div class="container-fluid" style=" background-color: #fff; padding: 11px;">
      <div>
        <div class="container"><h4><%= link_to "Back to products", shops_path %></h4></div>
      </div>
      <div class="row">
        <div class="col-lg-6 order-lg-2 order-1">
          <div class="image_selected">
            <% if @shop.image.attached? %>
              <%= image_tag @shop.image, style: "width: 98%", class: "img-fluid rounded-3"%>
            <% else %>
              <img src="" alt="">
            <% end %>
          </div>
        </div>
        <div class="col-lg-6 order-3">
          <div class="product_name">
            <h3><%= @shop.title %></h3>
            <h5>Category: <%= link_to @shop.category.category, shops_category_path(@shop.category.id) %></h5>
          </div>
          <div> <span class="product_price">
              <h4><strong>$<%= @shop.price %></strong></h4>
            </span></div>
          <div class="product_description"><%= @shop.description %></div>
          <hr class="singleline">
          <div class="row">
            <div class="col-xs-6">
              <span class="d-flex">
                <%= form_for @order_item, remote: true, data: { turbo: false } do |f| %>
                  <%= f.hidden_field :product_id, :value => @shop.id %>
                  QTY: <%= f.number_field :quantity, :value => 1, :min => 1, :class => "form-control" %><br/>
                  <%= f.submit "Add to cart", :class => "btn btn-primary shop-button" %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
