<div class="super_container">
  <div class="single_product">
    <div class="container-fluid" style=" background-color: #fff; padding: 11px;">
      <div>
        <div class="container">
          <% if !@category.nil? %>
            <h4><a href="/collections/<%= @category.id %>"><%= I18n.t 'collections.back_to_collection', collection: @category.category %></a></h4>
          <% else %>
            <h4><%= link_to "Back to products", products_path %></h4>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 order-lg-2 order-1">
          <div class="image_selected">
            <% if @shop.image.attached? %>
              <%= image_tag @shop.image, style: "width: 98%", class: "img-fluid rounded-3"%>
            <% else %>
              <img src="" alt="">
            <% end %>
          </div>
        </div>
        <div class="col-lg-6 order-3">
          <div class="product_name">
            <h3><%= @shop.title %></h3>
            <h5>Category: <a href="/collections/<%= @shop.category.id %>"><%= @shop.category.category %></a></h5>
          </div>
          <div> <span class="product_price">
              <h4><strong>$<%= @shop.price %></strong></h4>
            </span></div>
          <div class="product_description"><%= @shop.description %></div>
          <hr class="singleline">
          <div class="col col-12">
            <span class="d-flex">
              <%= render partial: 'snippets/product-form', locals: { product: @shop } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
