<div style="min-height: 200px;" class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0">
  <div style="min-height: 200px;" class="card">
    <a href="/products/<%= product.id %>">
      <% if product.image.attached? %>
        <%= image_tag product.image, class: "card-img-top"%>
      <% else %>
        <img src="https://dummyimage.com/100/fff/0011ff.png&text=Image+Not+Found" class="card-img-top" alt="...">
      <% end %>
    </a>
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <p class="small"><a href="/collections/<%= product.category.id %>" class="text-muted"><%= product.category.category %></a></p>
      </div>
      <div class="d-flex justify-content-between mb-3">
        <h5 class="mb-0"><%= product.title %></h5>
        <h5 class="text-dark mb-0">$<%= product.price %></h5>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="ms-auto text-warning">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <%= render partial: 'snippets/product-form', locals: { product: product } %>
      </div>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll(".add-to-cart-btn").forEach(btn => {
      btn.addEventListener("click", async function(e) {
        btn.disabled = true;
        console.log(btn.closest("form"));
        btn.nextElementSibling.removeAttribute("hidden");
        btn.setAttribute("hidden", "true");

        e.preventDefault();

        let formProductInfo = {
          product_id: e.target.parentElement.product_id.value,
          quantity: e.target.parentElement.quantity.value
        }

        const response = await fetch('/cart/add', {
          method: 'POST',
          body: JSON.stringify(formProductInfo),
          headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
          }
        })

        let data = await response.json();

        const cart_response = await fetch('/cart')
        let cart_data = await cart_response.json()

        btn.nextElementSibling.setAttribute("hidden", "true");
        btn.removeAttribute("hidden");
        btn.value = '<%= t("products.added_to_cart") %>';

        document.getElementById("cart-items-count").innerText = cart_data["info"]["total_items"]

        setTimeout(() => {
          btn.value = '<%= t("products.add_to_cart") %>'
          btn.disabled = false;
        }, 2000)

        //document.getElementById("cart-drawer-button").click();

        // This is for the cart drawer implementation
        let output = ""
        for(item in cart_data["items"]) {
        output += `<div class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img class="img-fluid rounded-3" src="https://rails-online-store.herokuapp.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--e6347174c97b622a47e4b33eaa85ba7df4a091c5/french-rustic-solid-oak-18m-dining-table-328952_700x.jpeg">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="text-muted">${cart_data["items"][item]['title']}</h6>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                          <span hidden data-individual-price-per-product="${cart_data["items"][item]["id"]}">${cart_data["items"][item]["price"]}</span>
                          <form id="update-product-cart-form" method="post">
                              <input style="width: 3rem;" value="${cart_data["items"][item]["quantity"]}" min="1" class="form-control" type="number" name="quantity" id="product_quantity">
                          </form>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 data-total-price-product="${cart_data["items"][item]["id"]}" class="mb-0"></h6>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 text-end">
                          <form id="delete-product-cart-form" method="delete">
                            <input type="hidden" value="${cart_data["items"][item]["id"]}" name="product_id">
                            <input value="${cart_data["items"][item]["quantity"]}" min="1" class="form-control" type="hidden" name="quantity" id="product_quantity">
                            <span class="d-flex">
                              <button type="button" class="remove-product-from-cart btn">X</button>
                            </span>
                          </form>
                        </div>
                      </div>
                      <hr class="my-4">`
        }
        //document.querySelector(".offcanvas-body").innerHTML = output;
      })
  });
</script>
