<h3 class="text-center" style="color: green"><%= notice %></h3>
<h1 class="text-center d-flex justify-content-between">
  Orders
</h1>
<br/>
<div class="container">
  <input type="text" class="form-control" id="search-input" placeholder="Search for products.." style="width: 100%;">
  <br/>
  <table class="table table-hover" id="product-table">
    <thead>
      <th scope="col">Order ID</th>
      <th scope="col">Customer</th>
      <th scope="col">Order total</th>
      <th scope="col">Time ordered</th>
    </thead>
    <tbody>
      <% @orders.each do |o| %>
        <% if o.customer %>
          <tr data-href="/admin/orders/<%= o.id %>">
            <td scope="row"><%= o.id %></td>
            <td scope="row"><% if o.customer %><%= Stripe::Customer.retrieve(o.customer)["name"] %><% else %>No customer<% end %></td>
            <td scope="row"><%= number_to_currency(o.amount / 100) %></td>
            <td scope="row"><%= time_ago_in_words(Time.at(o.created).to_datetime) %> ago</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
