

<section class="h-100 h-custom" style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                  <a href="/"><i style="font-size: 3rem;" class="bi bi-arrow-left-square"></i></a>
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted"><%= current_order.order_items.size %> items</h6>
                  </div>
                  <hr class="my-4">
                  <% if @order_items.size == 0 %>
                    <h3 class="text-center">No items in cart</h3>
                  <% else %>
                    <% @order_items.each do |item| %>
                      <div class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <% if item.product.image.attached? %>
                            <%= image_tag item.product.image, class: "img-fluid rounded-3" %>
                          <% else %>
                            <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img5.webp"
                            class="img-fluid rounded-3" alt="Cotton T-shirt">
                            <% end %>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted"><%= item.product.title %></h6>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                            <%= form_for item, remote: true do |f| %>
                              <%= f.hidden_field :product_id, :value => item.product.id %>
                              <span class="d-flex"><%= f.number_field :quantity, :value => item.quantity.to_i, :min => 1, :style => "width: 3rem;" %>&nbsp;<%= f.submit "Update", :class => "btn btn-secondary" %></span>
                            <% end %>
                          </div>
                          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h6 class="mb-0">$<%= item.total %></h6>
                          </div>
                          <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                            <%= button_to "X", order_item_path(item), method: :delete, remote: true, class: "btn btn-danger" %>
                          </div>
                        </div>
                        <hr class="my-4">
                      <% end %>
                    <% end %>
                    <div class="pt-5">
                      <h4 class="mb-0 text-center"><a href="/" class="text-body">Back to shop</a></h4>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">Total items: <%= current_order.order_items.size %></h5>
                      <h5>$<%= current_order.subtotal %></h5>
                    </div>
                    <h5 class="text-uppercase mb-3">Shipping</h5>
                    <div class="mb-4 pb-2">
                      <select class="select">
                        <option value="5">Standard-Delivery- $5.00</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                      </select>
                    </div>
                    <h5 class="text-uppercase mb-3">Discount code</h5>
                    <div class="mb-5">
                      <div class="form-outline">
                        <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea2">Enter your code</label>
                      </div>
                    </div>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>$<%= current_order.subtotal %></h5>
                    </div>
                    <button type="button" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Register</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
