<h3 class="text-center" style="color: green"><%= notice %></h3>
<h1 class="text-center d-flex justify-content-between">
  Categories (total: <%= @categories.size %>)
  <%= link_to "New category", new_admin_category_path, class: "btn btn-primary btn-lg"  %>
</h1>
<br/>
<div class="container">
  <table class="table">
    <thead>
      <th scope="col">Title</th>
      <th scope="col">Category ID</th>
      <th scope="col">Number of products</th>
    </thead>
    <tbody>
      <% @categories.each do |c| %>
        <tr data-href="<%= edit_admin_category_path(c) %>">
          <td scope="row"><%= c.category %></td>
          <th scope="row"><%= c.id %></th>
          <td scope="row"><%= c.products.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
