<% if notice %>
  <div class="mt-3 alert <% if notice.include?("not authorized") %> alert-danger <% else %> alert-success <% end %> alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<h1 class="text-center d-flex justify-content-between mt-3">
  Categories (total: <%= @categories.size %>)
  <%= link_to "New category", new_admin_category_path, class: "btn btn-primary btn-lg"  %>
</h1>
<br/>
<div class="container">
  <table class="table">
    <thead>
      <th scope="col">Title</th>
      <th scope="col">Category ID</th>
      <th scope="col">Number of products</th>
    </thead>
    <tbody>
      <% @categories.each do |c| %>
        <tr data-href="<%= edit_admin_category_path(c) %>">
          <td scope="row"><%= c.category %></td>
          <th scope="row"><%= c.id %></th>
          <td scope="row"><%= c.products.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
