<% if notice %>
  <div class="mt-3 alert <% if notice.include?("not authorized") %> alert-danger <% else %> alert-success <% end %> alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<h1 class="text-center d-flex justify-content-between mt-3">
  Products (total: <%= @products.size %>)
  <%= link_to "New product", new_admin_product_path, class: "btn btn-primary btn-lg"  %>
</h1>
<br/>
<div class="container">
  <input type="text" class="form-control" id="search-input" onkeyup="searchProducts()" placeholder="Search for products.." style="width: 100%;">
  <br/>
  <table class="table table-hover" id="product-table">
    <thead>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
    </thead>
    <tbody>
      <% @products.each do |p| %>
        <tr data-href="<%= edit_admin_product_path(p) %>">
          <td scope="row"><%= p.title %></td>
          <td scope="row"><%= p.description %></td>
          <td scope="row"><%= p.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  function searchProducts() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("search-input");
    filter = input.value.toUpperCase();
    table = document.getElementById("product-table");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
