<p style="color: green"><%= notice %></p>


<p style="color: green"><%= notice %></p>
<h1 class="text-center">Categories</h1>
<div class="container">
  <table class="table">
    <thead>
      <th scope="col">Title</th>
      <th scope="col">Number of products</th>
      <th scope="col">Actions</th>
    </thead>
    <tbody>
      <% @categories.each do |c| %>
        <tr>
          <td scope="row"><%= c.category %></td>
          <td scope="row"><%= c.products.size %></td>
          <td scope="row" rowspan="3">
            <%= link_to "Edit", edit_category_path(c) %>
            <%= link_to "Show", category_path(c) %>
            <%= button_to "Delete", category_path(c), method: :delete, class: "btn btn-danger", style: "float: right;", data: {confirm: "Are you sure?"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "New category", new_category_path %>
</div>
