<style>
  @media (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }
</style>


<%= form_with(model: product, style: "width: 80%;") do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col">
        <% if product.image.attached? %>
          <label>Current image:</label>
          <%= image_tag product.image, style: "width: 30rem", class: "img-fluid rounded-3" %>
        <% else %>
          <label>Currently selected image:</label>
          <img id="product-img-tag" src="#" class="img-fluid rounded-3" style="width: 30rem" alt="your image" />
        <% end %>
      </div>
      <br/>
      <div class="col">
        <div class="mb-3">
          <%= form.label :title, style: "display: block" %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :description, style: "display: block" %>
          <%= form.text_field :description, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :price, style: "display: block" %>
          <%= form.text_field :price, class: "form-control" %>
        </div>
        <div class="mb-3">
          <br/>
          <%= form.label :image %>
          <%= form.file_field :image, class: "form-control", onchange: "readURL(this);" %>
        </div>
      </div>
    </div>
    <div mb-3>
      <%= form.submit %>
    </div>
  <% end %>



<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      document.getElementById("product-img-tag").src=e.target.result;
    };

    reader.readAsDataURL(input.files[0]);
  }
}
</script>