
<p style="color: green"><%= notice %></p>
<div class="container"><h4><%= link_to "Back to categories", collections_path %></h4></div><h1 class="text-center">Category: <%= @category.category %></h1></div>
<div class="container">
  <div class="row row-cols-2 row-cols-md-1 row-cols-md-3 g-2">
    <% @products.each do |product| %>
      <%= render partial: "snippets/product", locals: { product: product }%>
    <% end %>
  </div>
</div>


<script>
 $("#add-to-cart-btn").click(function(e){
   $('#cart').html("<%= escape_javascript(render('carts/cart')) %>");
 });
</script>